.button {
    min-height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: aqua;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    outline: none;
    border: 0.2px solid #464646;
    box-shadow: 1px 1px 1px #696969, 0px 0px 1px #696969;

}
.button:hover{
    background: #00dfdf;
}
.button:active{
    background: #02aaaa;
}