.root {
    max-width: 800px;
    flex-basis: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #696969;
}
.title{
    margin-bottom: 30px;
    text-align: center;
}
.result{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.copy{
    margin: 2px;
    width: 40px;
    min-height: 50px;
    background-color: aqua;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    outline: none;
    border: 0.2px solid #464646;
    box-shadow: 1px 1px 1px #696969, 0px 0px 1px #696969;
}
.copy:hover{
    background: #00dfdf;
}
.copy:active{
    background: #02aaaa;
}
.options{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.labelcheky{
    margin-right: 12px;
    cursor: pointer;
}
.copied{
    display: block;
    width: 100%;
    font-weight: bold;
    color: gray;
    text-align: center;


}